@page
@model WorkoutAppWeb.Pages.Workouts.IndexModel
@{
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="test-primary">Workout List</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-page="create" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> &nbsp;Add New Workout
                </a>
            </div>
        </div>

        <br /><br />

        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Workout Name
                    </th>
                    <th>
                        Rep Count
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model.Workouts)
                {
                   <tr>
                      <td width="50%">@obj.name</td>
                      <td width="30%">@obj.repCount</td>
                   </tr>   
                }
            </tbody>
        </table>
    </div>
}
